<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:p="http://www.springframework.org/schema/p"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
        
	<bean name="iceCreamPack" class="com.shaktish.spring.springcore.practice.IceCreamPack">
		<constructor-arg value="Vanilla" name="flavour"/>
		<constructor-arg value="Bar" name="type"/>		
	</bean>
	
	<bean name="bakery" class="com.shaktish.spring.springcore.practice.Bakery">
		<constructor-arg value="masala kalai"   name="ItemName"/>
		<constructor-arg value="250" name="quantity"/>		
		<constructor-arg name="iceCreamPack"> <ref bean="iceCreamPack"/> </constructor-arg>		
	</bean>
</beans>